In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [1]:
import os, glob
import pandas as pd
path = r"C:\Users\DELL\Desktop\PES 5 SEM\DATA ANALYTICS\PROJECT CLIMATE CHANGE\Dataset"
all_files = glob.glob(os.path.join(path, "Global*.csv"))
df_from_each_file = (pd.read_csv(f, sep=',') for f in all_files)
df_merged = pd.concat(df_from_each_file, ignore_index = True)
df_merged.to_csv("merged.csv")

In [2]:
df = pd.read_csv(r"C:\Users\DELL\Desktop\PES 5 SEM\DATA ANALYTICS\PROJECT CLIMATE CHANGE\merged.csv")

C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.head()

,Unnamed: 0,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,State,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.columns

Index(['Unnamed: 0', 'dt', 'AverageTemperature',
       'AverageTemperatureUncertainty', 'City', 'Country', 'Latitude',
       'Longitude', 'State', 'LandAverageTemperature',
       'LandAverageTemperatureUncertainty', 'LandMaxTemperature',
       'LandMaxTemperatureUncertainty', 'LandMinTemperature',
       'LandMinTemperatureUncertainty', 'LandAndOceanAverageTemperature',
       'LandAndOceanAverageTemperatureUncertainty'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10064718 entries, 0 to 10064717
Data columns (total 17 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   Unnamed: 0                                 int64
 1   dt                                         object
 2   AverageTemperature                         float64
 3   AverageTemperatureUncertainty              float64
 4   City                                       object
 5   Country                                    object
 6   Latitude                                   object
 7   Longitude                                  object
 8   State                                      object
 9   LandAverageTemperature                     float64
 10  LandAverageTemperatureUncertainty          float64
 11  LandMaxTemperature                         float64
 12  LandMaxTemperatureUncertainty              float64
 13  LandMinTemperature                         float64
 14  LandMinTemperatureUncertainty              float64
 15  LandAndOceanAverageTemperature             float64
 16  LandAndOceanAverageTemperatureUncertainty  float64
dtypes: float64(10), int64(1), object(6)
memory usage: 1.3+ GB

In [33]:
df.describe()

,Unnamed: 0,AverageTemperature,AverageTemperatureUncertainty,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
count,1.006472e+07,1.006472e+07,1.006472e+07,1.006472e+07,1.006472e+07,1.006472e+07,1.006472e+07,1.006472e+07,1.006472e+07,1.006472e+07,1.006472e+07
mean,5.032358e+06,1.631380e+01,1.081764e+00,3.035691e+00,3.573167e+00,8.243209e+00,1.737751e+00,-3.204822e+00,2.821527e+00,1.283347e+01,3.669528e-01
std,2.905434e+06,1.082115e+01,1.153479e+00,1.229276e-01,5.073981e-02,1.051565e-01,1.950769e-02,1.020835e-01,3.420196e-02,3.796822e-02,3.510559e-03
min,0.000000e+00,-4.538900e+01,3.400000e-02,-2.080000e+00,3.400000e-02,5.900000e+00,4.400000e-02,-5.407000e+00,4.500000e-02,1.247500e+01,4.200000e-02
25%,2.516179e+06,9.661000e+00,3.440000e-01,3.034000e+00,3.574000e+00,8.242000e+00,1.738000e+00,-3.206000e+00,2.822000e+00,1.283300e+01,3.670000e-01
50%,5.032358e+06,1.864800e+01,6.310000e-01,3.034000e+00,3.574000e+00,8.242000e+00,1.738000e+00,-3.206000e+00,2.822000e+00,1.283300e+01,3.670000e-01
75%,7.548538e+06,2.515200e+01,1.447000e+00,3.034000e+00,3.574000e+00,8.242000e+00,1.738000e+00,-3.206000e+00,2.822000e+00,1.283300e+01,3.670000e-01
max,1.006472e+07,3.965100e+01,1.539600e+01,1.902100e+01,7.880000e+00,2.132000e+01,4.373000e+00,9.715000e+00,3.498000e+00,1.761100e+01,4.570000e-01

In [11]:
df.shape  #rows and cols

(10064718, 17)

In [4]:
df.isnull().sum()

Unnamed: 0                                          0
dt                                                  0
AverageTemperature                             436623
AverageTemperatureUncertainty                  435884
City                                          1226329
Country                                          3192
Latitude                                      1226329
Longitude                                     1226329
State                                         9419043
LandAverageTemperature                       10061538
LandAverageTemperatureUncertainty            10061538
LandMaxTemperature                           10062726
LandMaxTemperatureUncertainty                10062726
LandMinTemperature                           10062726
LandMinTemperatureUncertainty                10062726
LandAndOceanAverageTemperature               10062726
LandAndOceanAverageTemperatureUncertainty    10062726
dtype: int64

In [5]:
df.isnull().sum().sum() #Total missing values

94473161

In [35]:
df['City'].value_counts()  #so max cities-Xian,min -port Moresby

Xian                653503
Abidjan             581416
Saint Petersburg      9717
London                9717
Springfield           9545
                     ...
Sullana               1591
Chiclayo              1584
Trujillo              1584
Chimbote              1584
Port Moresby          1581
Name: City, Length: 3448, dtype: int64

In [36]:
df['State'].value_counts()   #so max State-Acre,min-Hawaii

Acre                    9417752
Zhejiang                   5265
Kentucky                   3239
Ontario                    3239
District Of Columbia       3239
                         ...
Rio Grande Do Norte        1953
Western Australia          1935
Northern Territory         1901
Queensland                 1901
Hawaii                     1569
Name: State, Length: 241, dtype: int64

In [37]:
df['Country'].value_counts()   #so max country-India,min-Antarctica

India                                  1140765
China                                   937262
United States                           848430
Russia                                  725105
Brazil                                  525019
                                        ...
Guam                                      1329
Northern Mariana Islands                  1329
Heard Island And Mcdonald Islands          788
French Southern And Antarctic Lands        788
Antarctica                                 764
Name: Country, Length: 243, dtype: int64

In [4]:
df.isnull().sum().sum()

94473161

In [5]:
cateogry_columns=df.select_dtypes(include=['object']).columns.tolist()
integer_columns=df.select_dtypes(include=['int64','float64']).columns.tolist()

for column in df:
    if df[column].isnull().any():
        if(column in cateogry_columns):
            df[column]=df[column].fillna(df[column].mode()[0])
        else:
            df[column]=df[column].fillna(df[column].mean)

In [7]:
df.isnull().sum()

Unnamed: 0                                   0
dt                                           0
AverageTemperature                           0
AverageTemperatureUncertainty                0
City                                         0
Country                                      0
Latitude                                     0
Longitude                                    0
State                                        0
LandAverageTemperature                       0
LandAverageTemperatureUncertainty            0
LandMaxTemperature                           0
LandMaxTemperatureUncertainty                0
LandMinTemperature                           0
LandMinTemperatureUncertainty                0
LandAndOceanAverageTemperature               0
LandAndOceanAverageTemperatureUncertainty    0
dtype: int64

In [6]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

In [ ]:
print(((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).sum()))

In [ ]:
df.corr()

In [ ]:
sns.heatmap(df.corr())